:root
{
    --textColor: white;
    --DescriptionCastText: white;
    --bookMark: white; 
    --darkModeContainer: white; 
    --footerIcons: white;
    --darkModeBall: black; 
    --background: black;
     --nowPlayingShadow: 1px 15px 15px 0.5px  #34251D;
     --scrollBarNowShowing: white;
}



.movie__title, 
.card__infoColumn p:nth-child(2), 
.card__title,
.pCard__info__container,
.pCard__time__container p
{
    color: var(--textColor);
}
.description, 
.cast, 
.cast__img__container figcaption, 
.header__title__container h1, 
.nowShowing__container h2,
.pop__container h3
{
    color: var(--DescriptionCastText);
}
.label .ball, 
.label__index .ball__index
{
    background-color: var(--darkModeBall);
}
.label, 
.label__index
{
    background-color: var(--darkModeContainer);
}
.detail__container, 
body,
footer
{
    background-color: var(--background);
}
.fa-bookmark
{
    color: var(--bookMark);
}
.footer__icons,
.footer__icons a
{
    color: var(--footerIcons);
}
.card img
{
    box-shadow: var(--nowPlayingShadow);
}
.all__cards::-webkit-scrollbar-thumb 
{
    background-color: var(--scrollBarNowShowing);
}